.site-layout-header {
    background: #fff;
    padding: 0 16px;
    line-height: 64px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card {
    margin-bottom: 24px;
  }
  
  .table {
    margin-bottom: 24px;
  }
  
  .upload-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .upload-button {
    width: 100%;
  }
  
  .upload-image-preview {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  