
.job-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 40px); /* Three cards per row with 20px gap */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.job-list-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

.job-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.company-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 10px;
}

.date {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.details {
    text-align: center;
}

.company {
    font-weight: bold;
    margin-bottom: 10px;
}

.tags {
    margin-top: 10px;
}

.tag {
    background-color: #f1f1f1;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 0.9em;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.salary {
    font-weight: bold;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}


.job-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 16px;
    justify-content: center;
   
  }

/* Ensure sidebar and job list are positioned side by side */

  /* Sidebar */
  .filter-sidebar {
    width: 250px; /* Fixed width for sidebar */
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh; /* Full height of the viewport */
    position: fixed; /* Fixed positioning to keep it in place */
   
  }
  
  /* Job List */
  .job-list {
    margin-left: 250px; /* Offset for sidebar */
    padding: 20px;
    flex: 1;
  }
  
  /* Ensure proper alignment for filter groups */
  .filter-group {
    margin-bottom: 20px;
  }
  
  .filter-group label {
    font-size: 1rem;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
    display: block;
  }
  
  .filter-group div {
    
    align-items: center;
    margin-bottom: 10px;
  }
  
  .filter-group input[type="checkbox"] {
    margin-right: 10px;
    
  }
  
  .filter-group div label {
    font-weight: normal;
    font-size: 0.95rem;
    color: #555;
    margin-left: 5px;
  }
  